.nav_desktop a i {
    transition: 0.2s;
}

.nav_desktop a:hover i {
    transform: scale(1.2);
    text-decoration: none;
}

.navbar-brand {
    height: 100px;
}

.titleNavMobile {
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 10px;
}

.navbar-toggler {
    float: right;
    margin-top: 30px;
}

.container h2 {
    margin-top: 2.2vw;
}

.container h2:before {
    content: '|';
    margin-right: 1.2vw;
}

.container .infoList li {
    margin-top: 1vw;
}

.container p {
    margin-left: 2vw;
    font-size: 1.2rem;
    line-height: 2.2rem;
}

footer {
    height: 100px;
}

a:hover {
    text-decoration: none;
}

.nav_desktop a:hover p {
    text-decoration: underline;
}

.list li {
    padding-left: 2rem;
}

.list {
}

.icone {
    display: none;
}

@media (min-width: 1500px){
    .icone {
    	display: block;
        position: absolute;
        left: 0;
        height: 100%;
        width: 200px;
        background-color: blue;
    }
}

@media screen and (min-width: 1201px){
    .list {
        padding-left: 3.5rem;
    }
}

@media (max-width:1200px) {
    .imgDesktopLogo {
        width: 6rem !important;
    }

    .logoTitle {
        font-size: 1rem !important;
    }

    .list {
        padding-left: 45px;
    }
}

@media (max-width:991px) {
    .nav_desktop {
        display: none;
    }

    .navbar {
        display: block;
    }
}

@media (min-width:992px) {
    .nav_desktop {
        display: ;
    }

    .navbar {
        display: none;
    }
}