@media (max-width:1200px) {
    .imgDesktopLogo {
        width: 6rem !important;
    }

    .logoTitle {
        font-size: 1rem !important;
        margin-top: 7rem;
    }
}

@media (max-width:991px) {
    .nav_desktop {
        display: none;
    }

    .navbar {
        display: block;
    }
}

@media (min-width:992px) {
    .nav_desktop {
        display: ;
    }

    .navbar {
        display: none;
    }
}

.navbar-brand {
    height: 100px;
}

.titleNavMobile {
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 10px;
}

.navbar-toggler {
    float: right;
    margin-top: 30px;
}
